
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.loginPanel{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
    /* min-height: 40vh; */
    width: 45vh;    
    border-radius: 30px;
    box-shadow: 0px 20px 100px;
    padding: 1.1rem 1rem;
    text-align: center;
    overflow: hidden;
}
.btn{
    margin-top: 4rem;
}
input{
    outline: none;
        border: none;
        padding: 1.1rem;
        border-bottom: 6px solid;
        background: transparent;
        color: white;
        width: 35vh;
        height: 2.3rem;
}

::placeholder{
        color: rgba(255, 255, 255, 0.586);
        font-size: 15px;
    }

    h2{
        color: rgb(255, 255, 255);
        margin-bottom: 18px;
    }

    .btn{
        
        border: 2px solid #2196f3;
        outline: none;
        color: #007de3;
        font-size: 10px;
        font-weight: lighter;
        letter-spacing: 4px;
        text-align: center;
        padding: 5px 10px;
    }

    .btn:hover{
        color: #255784;
        background-color: #2196f3;
        border: #2196f3;
        box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
        color: white;
    }

    input:hover{
        border-bottom: 7px solid rgb(12, 221, 12);
    }

    input:hover::placeholder{
        color: rgb(12, 221, 12);
        font-size: 13px;
    }

    .checkAcc{
        display: none;
    }

    p{

        color: #fff;
        font-size: 1rem;
        justify-content: center;
        display: flex;
        margin: 15px;
       
        cursor: pointer;
        transition: .5s ease-in-out;
        

    }
    
    .login{
        background-color: transparent;
        
    }

    label:hover{
        text-decoration: underline 1.5px;
        letter-spacing: 2px;
    }

    #checkAcc:checked~#acno{
        transform: translateX(-12px);
    }
    