


    <div class="main p-5">
        
        <div class="loginPanel">
                <div class="login" id="login">
                    <h2>Login</h2>
                    
                    <input class="mb-2" type="text" (change)="accountno($event)" placeholder="Username" id="uname">
                    <input class="mt-2 mb-5" type="password" (change)="passWord($event)" name="password" id="pword" placeholder="Password">
                    <input class="btn mt-4" type="button" (click)="login()" value="Sign Up">

                    
                    <div class="alreadyUser">
                        <input type="checkbox"  class="checkAcc" name="accAlready" id="checkAcc">
                        <p>Not have an account<a href="#">Register</a></p>
                    </div>
                    
                    
                </div>
                    
                
            
        </div>
        
    </div>
    
