<div class="container">
  <div class="navbar">
    <div class="brand">
      <img src="../../assets/rupees-bank.png" alt="" />
      <span>MyMoney</span>
    </div>

    <button class="download" id="download">
      <i class="fa-solid fa-download">&nbsp;</i>MyMoney
    </button>
  </div>
  <div class="body">
    <div class="image"></div>
    <span class="head">Meet banking that keeps<br />pace with you.</span><br />
    <span class="tagline">Manage your money in your fingers.</span>
    <button><a href="/login-page">Get Started</a></button>
  </div>
</div>
