<body>
  <div class="main">
    <div class="navSide">
      <div class="profile">
        <div class="profilePhoto">
          <img src="" alt="" />
        </div>
        <div class="profile_name">
          <span>{{ name }}</span>
        </div>
      </div>
      <div class="nav_links">
        <ul>
          <li><a href="" class="dashboard">Dashboard</a></li>
          <li><a href="/credit-card">Credit Card</a></li>
          <li><a href="#">Messages</a></li>
          <li><a href="#">Account Settings</a></li>
          <li><a href="#">App Settings</a></li>
        </ul>
      </div>

      <div class="timeLogout">
        <span style="color: white">{{ time | date: "short" }}</span>
        <button (click)="logout()">Log Out</button>
      </div>
      <div class="del_acc">
        <button (click)="deletacc()" appDirectives>Delete Account</button>
        <app-deleteaccount
          [item]="delacc"
          (onCancel)="cancel()"
          (onDelete)="delete($event)"
        ></app-deleteaccount>
      </div>
    </div>
    <div class="contents">
      <div class="navbar">
        <div class="search">
          <input type="text" class="searchArea" placeholder="Search" />
          <button><i class="fa-solid fa-magnifying-glass"></i></button>
        </div>
        <div class="nav-links">
          <ul>
            <li>Accounting</li>
            <li>Activity</li>
            <li>Teams</li>
          </ul>
        </div>
        <div class="brand">
          <img src="../../assets/rupees-bank.png" alt="" />
          <span>MyMoney</span>
        </div>
      </div>
      <div class="bank" [ngClass]="delacc ? 'style' : ''">
        <app-animations></app-animations>
        <form [formGroup]="dashboardForm">
          <div class="cashPorts">
            <div class="payCash">
              <div class="heading">
                <span>Bank Withdrawal</span>
              </div>

              <div class="accDetails">
                <input type="text" value="{{ acno }}" id="accNo" />
                <input type="text" value="{{ balance }}" id="balance" />
              </div>

              <div class="withdraw">
                <input
                  type="text"
                  id="withdrawAmount"
                  placeholder="Enter Amount"
                  formControlName="drawMoney"
                />

                <button id="withdraw" (click)="clickWithdraw()">
                  Withdraw
                </button>
              </div>

              <div
                style="color: green; font-size: small"
                *ngIf="
                  this.dashboardForm.get('drawMoney')?.errors &&
                  this.dashboardForm.get('drawMoney')?.touched
                "
              >
                invalid input
              </div>
            </div>

            <div class="payCash">
              <div class="heading">
                <span>Bank Deposit</span>
              </div>

              <div class="accDetails">
                <input type="text" value="{{ acno }}" id="accNo" />
                <input type="text" value="{{ balance }}" id="balance" />
              </div>

              <div class="withdraw">
                <input
                  type="text"
                  id="depositAmount"
                  placeholder="Enter Amount"
                  formControlName="depositMoney"
                />

                <button id="deposit" (click)="clickDeposit()">Deposit</button>
              </div>
              <div
                style="color: green; font-size: small"
                *ngIf="
                  this.dashboardForm.get('depositMoney')?.errors &&
                  this.dashboardForm.get('depositMoney')?.touched
                "
              >
                invalid input
              </div>
            </div>
          </div>
        </form>

        <div class="balancePort">
          <div class="balance">
            <div class="img"></div>
            <input type="text" value="{{ balance }}" id="balance" />
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
