.main {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.027);
}
.navSide {
  background-color: white;
  margin: 1rem 0 1rem 2rem;
  display: flex;
  flex-direction: column;
  /* background: #8800ff;
  background: -webkit-linear-gradient(to top, #3a1584, #66398c);
  background: linear-gradient(to top, #1b0051, #2d0087); */
  border-radius: 60px;
  width: 20vw;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.103);
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
}
.navSide .profile {
  height: min-content;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #562aad; */
}
.navSide .profile .profilePhoto {
  margin: 1rem 0;
  height: 15vh;
  width: 15vh;
  border-radius: 50%;
  background-image: url("../../assets/user-profile.png");
  background-size: cover;
}
.navSide .profile span {
  font-size: 1.5rem;
  /* letter-spacing: 2px;
  word-spacing: 5px; */
  /* text-transform: uppercase; */
  font-family: "Poppins", sans-serif;
  /* font-family: "Manrope", sans-serif; */
  font-weight: 700;
  color: #11006754;
}

.navSide .nav_links {
  margin: 1rem 0;
  word-spacing: 2px;
  /* margin: 1rem 1rem; */
  /* text-align: center; */
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 15px;

  /* background-color: #562aad; */
}

.nav_links li {
  list-style-type: none;
  text-align: left;
  margin: 2rem 0;
}
.nav_links a {
  background: transparent;
  color: rgba(0, 0, 0, 0.343);
  position: relative;
  left: -12px;
  text-decoration: none;
}

.navSide .nav_links ul a:hover {
  color: #110067;
}
.navSide .nav_links ul a:focus {
  color: #110067;
}

.navSide .logout {
  margin: 3rem;
  bottom: 0;
  position: absolute;
}
.logout button {
  background: transparent;
  outline: none;
  border: none;
  /* font-family: "Manrope", sans-serif; */
  font-family: "Poppins", sans-serif;
  font-weight: 800;
  color: rgba(0, 0, 0, 0.343);
}
.logout button:hover {
  color: #110067;
}

.main .contents {
  /* overflow: hidden; */
  margin: 1rem 1rem;
  display: flex;
  flex-direction: column;
  width: 100vw;
  /* background-color: #31117032; */
}

.contents .navbar {
  height: 10vh;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  align-items: center;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
}
.navbar .search {
  background-color: rgb(255, 255, 255);
  padding: 5px 10px;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.226);
  border: #562aad44 solid 1px;
}
.search input {
  outline: none;
  border: none;
  width: 88%;
  background: transparent;
}
.search input::placeholder {
  color: rgba(0, 0, 0, 0.943);
  font-size: 15px;
}
.search i {
  color: #562aad;
}
.navbar .nav-links ul {
  list-style-type: none;
  margin: 1rem 0;
}
.navbar .nav-links ul li {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  display: inline-block;
  margin: 0 1.3rem;
  color: rgba(21, 0, 78, 0.637);
}

.navbar .nav-links ul li:hover {
  color: rgba(21, 0, 78, 0.993);
  cursor: pointer;
}
.navbar .nav-links ul li:focus {
  color: rgba(21, 0, 78, 0.993);
}

.navbar span {
  /* font-family: "Plus Jakarta Sans", sans-serif; */
  font-family: "Poppins", sans-serif;
  font-size: 10px;
}

.deletebtn button {
  background: transparent;
  outline: none;
  border: none;
  border-radius: 10px;
  padding: 10px 1rem;
  color: white;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  transition: 0.2s box-shadow;
}
.deletebtn button:hover {
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.542);
}
.deletebtn button:focus {
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.542);
}
.body {
  height: calc(100vh - 10vh);
  padding: 1em;
  display: flex;
}
.body .flex-body {
  height: 100%;
  width: 50%;
}

.flex-body .deposit-box,
.withdraw-box {
  height: calc(100vh - 60vh);
  margin: 1rem 1rem;
  border-radius: 50px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.103);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* overflow: hidden; */
  padding: 1rem;
  background-color: white;
  /* background-color: #45199d; */
  /* background: #9854d4;
  background: -webkit-linear-gradient(to top, #6631d1, #8b3cd1);
  background: linear-gradient(to top, #562aad, #8742c4); */
}
.header {
  text-align: center;
  padding: 10px 3rem;
  width: 100%;
  /* color: #45199d; */
  color: rgba(0, 0, 0, 0.266);
  /* color: white; */
  /* color: rgb(0, 0, 0); */
  font-family: "Manrope", sans-serif;
  /* font-family: "Poppins", sans-serif; */
  font-weight: 900;
  font-size: 20px;
}

.acno {
  padding: 0 1rem;
  height: 40px;
  align-items: center;
  justify-self: center;
  width: 80%;
  text-align: center;
}
.acno input {
  background: transparent;
  outline: none;
  border: none;
  padding: 5px 1rem;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  width: 100%;
  font-size: 13px;
  /* border-bottom: 0.3px solid rgba(255, 255, 255, 0.514); */
  border-bottom: 0.3px solid rgba(0, 0, 0, 0.18);
  /* color: white; */
  color: black;
}

input::placeholder {
  /* color: rgba(255, 255, 255, 0.586); */
  color: rgba(0, 0, 0, 0.377);

  font-size: 13px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}
input:hover::placeholder {
  /* color: rgba(255, 255, 255, 0.586); */
  color: rgb(0, 0, 0);

  font-size: 13px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
}

.acno .acnoValid {
  color: rgb(233, 0, 0);
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 3px;
  width: 100%;
}
.pswd {
  padding: 0 1rem;
  height: 40px;
  align-items: center;
  justify-self: center;
  width: 80%;
  text-align: center;
}
.pswd input {
  background: transparent;
  outline: none;
  border: none;
  padding: 5px 1rem;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 13px;
  width: 100%;
  /* border-bottom: 0.3px solid rgba(255, 255, 255, 0.514); */
  border-bottom: 0.3px solid rgba(0, 0, 0, 0.18);
  /* color: white; */
  color: black;
}

.pswd .pswdValid {
  color: rgb(233, 0, 0);
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 3px;
  width: 100%;
}
.amnt {
  padding: 0 1rem;
  height: 40px;
  align-items: center;
  justify-self: center;
  width: 80%;
  text-align: center;
}
.amnt input {
  background: transparent;
  outline: none;
  border: none;
  padding: 5px 1rem;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 13px;
  width: 100%;
  /* border-bottom: 0.3px solid rgba(255, 255, 255, 0.514); */
  border-bottom: 0.3px solid rgba(0, 0, 0, 0.18);
  /* color: white; */

  color: black;
}

.amnt .amntValid {
  color: rgb(233, 0, 0);
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 3px;
  width: 100%;
}

.button {
  margin: 5px;
  padding: 0 1rem;
  align-items: center;
  justify-self: center;
  width: 100%;
  text-align: center;
}
.button .btn {
  width: 60%;
  background-color: #45199d;
  /* background: #350163; */
  outline: none;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px 1rem;
  color: white;
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  transition: 0.2s box-shadow;
}

.button .btn:hover {
  box-shadow: 0 25px 20px 7px rgba(0, 0, 0, 0.3);
}
.button .btn:focus {
  box-shadow: 0 25px 20px 7px rgba(0, 0, 0, 0.3);
}
/* withdraw box */

.contents .grid-body {
  padding: 1rem;
  height: 100%;
  width: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-gap: 2em;
  grid-auto-rows: 25vh;
  grid-auto-columns: 25vh;
  /* background-color: #6631d1; */
}

/* deposit box */

/* balance box */
.grid-body .balance-box {
  border-radius: 50px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.103);
  background-color: #45199d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.balance-box h2 {
  color: white;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 2.5rem;
}
.balance-box span {
  color: white;
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 10px;
}

/* savings box */
.grid-body .savings-box {
  background-color: white;
  border-radius: 50px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.103);
  /* background-color: #45199d; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.savings-box h2 {
  color: rgba(0, 0, 0, 0.266);
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 2.5rem;
}
.savings-box span {
  color: rgb(0, 0, 0);
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 10px;
}

/* percent box */
.grid-body .percent-box {
  background-color: white;
  border-radius: 50px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.103);
  /* background-color: #45199d; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.percent-box h2 {
  color: rgb(0, 0, 0, 0.266);
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 2.5rem;
}
.percent-box span {
  color: rgb(0, 0, 0);
  font-family: "Manrope", sans-serif;
  font-weight: 800;
  font-size: 10px;
}

/* rout box */
.grid-body .rout-box {
  padding: 1rem;
  background-color: white;
  grid-column: 1/4;
  grid-row: 2/4;
  border-radius: 50px;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.103);
  /* background-color: #45199d; */
  display: flex;
  flex-direction: column;
  overflow: hidden;
  /* justify-content: center; */
  /* align-items: center; */
}
.rout-box .rout-header {
  /* width: 100%;
  padding: 10px; */
  text-align: center;
  padding: 10px 3rem;
  width: 100%;
  /* color: #45199d; */
  color: rgba(0, 0, 0, 0.266);
  /* color: white; */
  /* color: rgb(0, 0, 0); */
  font-family: "Manrope", sans-serif;
  /* font-family: "Poppins", sans-serif; */
  font-weight: 900;
  font-size: 20px;
}

.rout-box table {
  width: 100%;
  table-layout: fixed;
  text-align: center;
}
table thead {
  background-color: white;
  width: 100%;
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}

table tbody {
  overflow: hidden;
  width: 100%;
}
th {
  font-size: 13px;
  padding: 5px 5px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.266);
}
td {
  font-size: 13px;
  padding: 5px 5px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.513);
  border-bottom: 0.5px solid rgba(0, 0, 0, 0.05);
}

/* making div disappear */

.style {
  opacity: 0;
}
