<body>
  <div class="main">
    <div class="navSide">
      <div class="profile">
        <div class="profilePhoto">
          <img src="" alt="" />
        </div>
        <div class="profile_name">
          <span>{{ name }}</span>
        </div>
      </div>

      <div class="nav_links">
        <ul>
          <li>
            <a href="dashboard">Dashboard</a>
          </li>
          <li>
            <a href="credit-card">Credit Card</a>
          </li>
          <li><a href="#">Messages</a></li>
          <li><a href="#">Settings</a></li>
        </ul>
      </div>

      <div class="logout">
        <button (click)="logout()">Log Out</button>
      </div>
    </div>
    <div class="contents">
      <div class="navbar">
        <div class="search">
          <input type="text" class="searchArea" placeholder="Search" />
          <i class="fa-solid fa-magnifying-glass"></i>
        </div>
        <div class="nav-links">
          <ul>
            <li>Accounting</li>
            <li>Activity</li>
            <li>Teams</li>
          </ul>
        </div>
        <span class="time" style="color: rgb(0, 0, 0)">{{
          time | date: "short"
        }}</span>
        <!-- <div class="brand">
          <img src="../../assets/rupees-bank.png" alt="" />
          <span>MyMoney</span>
        </div> -->
        <div class="deletebtn">
          <button class="delete" appDirectives>Delete Account</button>
        </div>
      </div>
      <div class="body">
        <app-deleteaccount
          [item]="delacc"
          (onCancel)="cancel()"
          (onDelete)="delete($event)"
        ></app-deleteaccount>
        <div class="flex-body">
          <form [formGroup]="depositForm">
            <div class="deposit-box">
              <div class="header">
                <span>Deposit</span>
              </div>
              <div class="acno">
                <input
                  type="text"
                  placeholder="Account Number"
                  formControlName="depositAcno"
                />
                <br />
                <div
                  class="acnoValid"
                  *ngIf="
                    this.depositForm.get('depositAcno')?.errors &&
                    this.depositForm.get('depositAcno')?.touched
                  "
                >
                  Required. Must be a number with atleast 5 didgit
                </div>
              </div>
              <div class="pswd">
                <input
                  type="text"
                  placeholder="Password"
                  formControlName="depositPswd"
                /><br />
                <div
                  class="pswdValid"
                  *ngIf="
                    this.depositForm.get('depositPswd')?.errors &&
                    this.depositForm.get('depositPswd')?.touched
                  "
                >
                  Required. Must be 5 characters
                </div>
              </div>
              <div class="amnt">
                <input
                  type="text"
                  placeholder="Amount"
                  formControlName="depositamnt"
                /><br />
                <div
                  class="amntValid"
                  *ngIf="
                    this.depositForm.get('depositamnt')?.errors &&
                    this.depositForm.get('depositamnt')?.touched
                  "
                >
                  Requires. Must be a number with upto 5 didgit
                </div>
              </div>
              <div class="button">
                <input
                  type="button"
                  value="Deposit"
                  class="btn"
                  (click)="deposit()"
                />
              </div>
            </div>
          </form>
          <form [formGroup]="withdrawForm">
            <div class="withdraw-box">
              <div class="header">
                <span>Withdaw</span>
              </div>
              <div class="acno">
                <input
                  type="text"
                  placeholder="Account Number"
                  formControlName="withdrawAcno"
                /><br />
                <div
                  class="acnoValid"
                  *ngIf="
                    this.withdrawForm.get('withdrawAcno')?.errors &&
                    this.withdrawForm.get('withdrawAcno')?.touched
                  "
                >
                  Required. Must be a number with atleast 5 didgit
                </div>
              </div>
              <div class="pswd">
                <input
                  type="text"
                  placeholder="Password"
                  formControlName="withdrawPswd"
                /><br />
                <div
                  class="pswdValid"
                  *ngIf="
                    this.withdrawForm.get('withdrawPswd')?.errors &&
                    this.withdrawForm.get('withdrawPswd')?.touched
                  "
                >
                  Required. Must be 5 characters
                </div>
              </div>
              <div class="amnt">
                <input
                  type="text"
                  placeholder="Amount"
                  formControlName="withdrawamnt"
                /><br />
                <div
                  class="amntValid"
                  *ngIf="
                    this.withdrawForm.get('withdrawamnt')?.errors &&
                    this.withdrawForm.get('withdrawamnt')?.touched
                  "
                >
                  Required. Must be a number with upto didgit
                </div>
              </div>
              <div class="button">
                <input
                  type="button"
                  value="Withdraw"
                  class="btn"
                  (click)="withdraw()"
                />
              </div>
            </div>
          </form>
        </div>

        <div class="grid-body" [ngClass]="delacc ? 'style' : ''">
          <div class="balance-box">
            <span>Your Balance</span>
            <h2>₹12345</h2>
          </div>
          <div class="savings-box">
            <span>Savings</span>
            <h2>₹3405</h2>
          </div>
          <div class="percent-box">
            <span>Expense</span>
            <h2>₹870</h2>
          </div>
          <div class="rout-box">
            <div class="rout-header">
              <span>Transaction History</span>
            </div>
            <div class="history-table">
              <table>
                <thead>
                  <tr class="head">
                    <th>Account Number</th>
                    <th>Transaction</th>
                    <th>Amount</th>
                  </tr>
                </thead>
                <tbody>
                  <tr class="data" *ngFor="let data of transArray">
                    <td>{{ acno }}</td>
                    <td>{{ data.trans }}</td>
                    <td>
                      {{ data.amount }}
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
