<body>
  <div class="main">
    <img src="../../assets/rupees-bank.png" alt="" />
    <div class="loginPanel">
      <div class="login" id="login">
        <h2>sign up</h2>
        <input
          class=""
          type="text"
          (change)="getAccountno($event)"
          placeholder="Account Number"
          id="acno"
        />
        <input
          class=""
          type="text"
          (change)="getUserName($event)"
          placeholder="Username"
          id="uname"
        />
        <input
          class=""
          type="password"
          (change)="getPassWord($event)"
          name="password"
          id="pword"
          placeholder="Password"
        />
        <button class="btn" (click)="signUp()">Sign Up</button>
        <p>Already have an account?<a href="/login-page">Login</a></p>
      </div>
    </div>
  </div>
</body>
